/*Hide unnecessary question labels*/
.JFEScope .Skin .q-slider .statement-container {
  display: none;
}

/*Add padding to top of questions*/
.Skin label.QuestionText {
  padding-top: 30px;
}
.Skin .QuestionText {
  padding-top: 30px;
}

/*Change slider dot color*/
.Skin .horizontalbar .Slider .track div {
  background: green;
}

/*Change button color*/
.Skin #Buttons #NextButton, .Skin #Buttons #PreviousButton {
  background-color: green;
}