/*Hide unnecessary question labels*/
.JFEScope .Skin .q-slider .statement-container {
  display: none;
}

/*Add padding to top of questions*/
.Skin label.QuestionText {
  padding-top: 30px;
}
.Skin .QuestionText {
  padding-top: 30px;
}

/*Change slider dot color*/
.Skin .horizontalbar .Slider .track div {
  background: green;
}

/*Change button color*/
.Skin #Buttons #NextButton, .Skin #Buttons #PreviousButton {
  background-color: green;
}

/*Center consent form heading*/
.consent-form-logo-img-span {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/*Consent form font*/
.consent-form {
  font-family: auto;
}

/*Consent form heading text left padding*/
.consent-form-logo-text {
  padding-left: 5px;
  
}